extends layout
block content
	h4= title

		form#formEditContact(name="editcontact", method="post", action="/editcontact")
			label.control-label(for="first-name") First Name:
				input#first-name.form-control(type="text", name="first", value="#{editcontact.name.first}")
			br
			label.control-label(for="last-name") Last Name:
				input#last-name.form-control(type="text", name="last", value="#{editcontact.name.last}")

			br
			label.control-label(for="title") Title:
				input#title.form-control(type="text", name="title", value="#{editcontact.title}")

			br
			label.control-label(for="company") Company:
				input#company.form-control(type="text", name="company", value="#{editcontact.company}")

			br
			label.control-label(for="email") Email:
				input#email.form-control(type="email", name="email", value="#{editcontact.email}")

			br
			label.control-label(for="where-met") Where Met:
				input#where-met.form-control(type="text", name="where-met", value="#{editcontact.wheremet}")

			br
			label.control-label(for="date-met") Date Met:
				input#first-name.form-control(type="text", name="datemet", value="#{editcontact.datemet}")

			br
			label.control-label(for="comments") Comments:
				textarea#comments.form-control(rows="3", name="comments", placeholder="Comments")

		button.btn.btn-primary#btnSubmit(type="submit") Update

	a(href="/contacts")= "Back to Contact List"











